
.DS_Store
util/__pycache__/__init__.cpython-37.pyc
util/__pycache__/formatter.cpython-37.pyc
.ipynb_checkpoints/covid_19-checkpoint.ipynb
.ipynb_checkpoints/covid_19_catalog-checkpoint.ipynb
notebook/.ipynb_checkpoints/covid_19-checkpoint.ipynb
notebook/.ipynb_checkpoints/covid_19_catalog-checkpoint.ipynb
notebook/.ipynb_checkpoints/README-checkpoint.md
